@define-color bg #000000;
@define-color bg-hover #131b24;
@define-color blue #569fba;
@define-color sky #9ccfd8;
@define-color red #eb6f92;
@define-color pink #eb98c3;
@define-color lavender #c4a7e7;
@define-color rosewater #eae8ff;
@define-color mauve #ccb1ed;
@define-color fg #e0def4;
@define-color green #a3be8c;
@define-color dark-fg #191726;
@define-color peach #ea9a97;
@define-color border @blue;
@define-color gray2 #817c9c;
@define-color black4 #4b4673;
@define-color black3 #121820;
@define-color maroon #d84f76;

#window {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Hack Nerd Font";
  font-size: 16px;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: @bg;
  border-radius: 12px;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: @bg;
  border-radius: 12px;
}

#input {
  margin: 5px 20px;
  border: 2px solid @mauve;
  border-radius: 10px;
  color: @fg;
  background-color: @black3;
}

#input:focus {
  background-color: @bg-hover;
}

#input:focus image {
  color: @mauve;
}

#input image {
  color: @lavender;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @fg;
} 

#entry:selected {
  border-radius: 10px;
  background-color: @black4;
}

#text:selected {
  background-color: inherit;
  color: @fg;
  font-weight: normal;
}
